*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Defining CSS variables which can be accessed anywhere within the <html> element */
:root {

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --color-blue: rgb(77, 181, 255);
    --color-dark-purple: rgb(42, 22, 84);
    --color-light-purple: rgb(42, 22, 84);
    --color-white: white; 
    --color-gold: #ffcc00;
    --color-light-yellow: #ff6;
    --color-grey: #dddddd;


    /* --color-light-purple: rgba(66,34,94,255); */


}
body{
    background: linear-gradient(135deg, #000000, #1a0033, #2b004f); /* Black to dark purple gradient */

}

p{
    color: var(--color-white);
    margin: 0;
    font-size: 1rem;

}
h1, h2{
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: var(--color-white)
}

h1{
  font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
a{
    font-size: 1rem;
}
section {
    padding: 0 2rem; /* Add uniform padding inside on both sides */
    margin-top: 2rem;
}

/* Ensure sections have enough padding when scrolled into view */
section {
  scroll-margin-top: 80px; /* Adjust based on your header height */
}



@media (max-width: 700px) {
    h1{
      font-size: 1.8rem;
    }
    h2{
      font-size: 1.5rem;
    }
}


@media (max-width: 420px) {
  h1{
    font-size: 1.5rem;
  }
  h2{
    font-size: 1.3rem;
  }
}




