.header {

    position: fixed; /* Makes the header fixed at the top */
    top: 0;
    left: 0;
    width: 100%; /* Stretches the header across the screen */
    background-color: var(--color-light-purple);
    z-index: 1000; /* Ensures the header is on top of other elements */
  }
  
  .nav-bar {
    display: flex; /* Makes the nav links a flex container */
    justify-content: center;
    gap: 2rem;
  }
  
  .nav-link {
    color: #ffffff; /* White text for the links */
    text-decoration: none; /* Removes underline from links */
    font-weight: 500; /* Makes the text slightly bold */
    transition: color 0.3s ease; /* Smooth color change on hover */
    padding: 1rem;
    border-radius: 15px;
  }
  
  .nav-link:hover {
    background-color: var(--color-gold);
  }

  @media (max-width: 525px) {
    .nav-link {
      font-size: 0.8rem; /* Slightly smaller font size for tablets and phones */
      padding: 0.8rem;
    }
    .nav-bar{
      gap: 1.5rem;
    }
  }


  @media (max-width: 400px) {
    .nav-bar{
      gap: 0rem;
    }
  }

  









  